<!-- _header.html -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">پاسارگاد گلد</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">خانه</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog_list">بلاگ</a></li>
        <li class="nav-item"><a class="nav-link" href="/news_list">اخبار</a></li>
        <li class="nav-item"><a class="nav-link" href="/cart">سبد خرید</a></li>
        <li class="nav-item">
          <a class="btn btn-gold btn-sm" href="/profile">پروفایل</a>
        </li>
      </ul>
    </div>
  </div>
</nav>