{% extends "base.html" %}
{% block content %}
<section class="max-w-6xl mx-auto px-4 py-10">
  <h2 class="text-2xl font-bold text-[#1C39BB] mb-6">وبلاگ</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.id %}" class="bg-white rounded-2xl shadow hover:shadow-md transition">
      <img src="{{ blog.image_url }}" class="rounded-t-2xl w-full h-40 object-cover" />
      <div class="p-4">
        <h3 class="font-semibold text-[#1C39BB]">{{ blog.title }}</h3>
        <p class="text-sm text-gray-500">نویسنده: {{ blog.writer_name }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
